### Cargo los archivos que necesito

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_steam_games_clean = pd.read_csv('df_steam_games_clean.csv')
df_user_reviews_clean = pd.read_csv('df_user_reviews_clean.csv')
df_user_items_clean = pd.read_csv('df_user_items_clean.csv')

In [80]:
df_steam_games_clean.head()

,genres,title,release_date,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,0.00,643980.0,Secret Level SRL
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,0.00,670290.0,Poolians.com
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,0.99,767400.0,彼岸领域
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,3.99,772540.0,Trickjump Games Ltd

In [81]:
df_steam_games_clean["price"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 27521 entries, 0 to 27520
Series name: price
Non-Null Count  Dtype
--------------  -----
27521 non-null  float64
dtypes: float64(1)
memory usage: 215.1 KB

In [82]:
df_user_reviews_clean.head()

             user_id  item_id  recommend  sentiment_analysis
0  76561197970982479     1250       True                   2
1  76561197970982479    22200       True                   2
2  76561197970982479    43110       True                   2
3            js41637   251610       True                   2
4            js41637   227300       True                   2

In [83]:
df_user_reviews_clean[df_user_reviews_clean["item_id"] == "772540"]

Empty DataFrame
Columns: [user_id, item_id, recommend, sentiment_analysis]
Index: []

In [84]:
df_user_items_clean.head()

,user_id,items_count,items
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea..."

#### def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora.

In [85]:
#df_steam_games_clean = pd.read_csv('df_steam_games_clean.csv', usecols=["release_date", "developer", "price"])

In [86]:
# def developer(desarrollador: str):

#     df_games_developer = df_steam_games_clean[(df_steam_games_clean['developer'] == desarrollador)]

#     df_free_games = df_games_developer[(df_games_developer['price'] == 0.00 )]

#     df_agrupacion = df_games_developer.groupby('release_date').count()

#     df_agrupacion= df_agrupacion.reset_index()

#     df_result = pd.DataFrame(columns=["Año", "Cantidad de items", "Contenido free"])

#     df_result["Año"] = df_agrupacion["release_date"]

#     df_result["Cantidad de items"] = df_agrupacion["developer"]


#     for year in df_result["Año"]:
    
#         try:
#             free_content = df_free_games.groupby('release_date').groups[year].shape[0]
        
#             total_content = df_games_developer.groupby('release_date').groups[year].shape[0]
        
            
#             df_result.loc[df_result["Año"] == year, "Contenido free"] = f"{round(free_content / total_content * 100, 2)}%"
#         except:
#             df_result.loc[df_result["Año"] == year, "Contenido free"] = "0%"


#     return df_result

In [ ]:
# l = developer("Dovetail Games")
# print(l)

### def userdata(`User_id`: str): Debe devolver `cantidad` de dinero gastado por el usuario, el `porcentaje` de recomendación en base a reviews.recommend y `cantidad de items`.

In [88]:
# def userdata(id_usuario : str):
    
#     df_steam_games_clean = pd.read_csv('df_steam_games_clean.csv', usecols=["id", "price"])
#     df_user_reviews_clean = pd.read_csv('df_user_reviews_clean.csv', usecols=["user_id", "recommend"])
#     df_user_items_clean = pd.read_csv('df_user_items_clean.csv', usecols=["user_id", "items_count"])


#     df_user = pd.merge(df_user_reviews_clean, df_user_items_clean, on=['user_id'], how='inner')

#     # Unir los dataframes df_user y df_steam_games_clean en la columna 'id'
#     #df_user_games = pd.merge(df_user, df_steam_games_clean, left_on='item_id', right_on='id', how='inner')

#     # Eliminar las columnas innecesarias
#     #df_user_games.drop(['id', 'user_id'], axis=1, inplace=True)

#     # Calcular el número total de elementos
#     #total_items = df_user_games['item_id'].nunique()

#     # Calcular el gasto total del usuario
#     #total_money_spent = df_user_games['price'].sum()
#     items_count = df_user_items_clean.loc[df_user_items_clean['user_id'] == id_usuario, 'items_count'].values[0]

#     return items_count

In [89]:
#m = userdata("Riot-Punch")
#print(m)

In [3]:
# def user_data(usuario: str):

#     df_steam_games_clean = pd.read_csv('df_steam_games_clean.csv', usecols=["id", "price"])
#     df_user_reviews_clean = pd.read_csv('df_user_reviews_clean.csv', usecols=["user_id", "recommend"])
#     df_user_items_clean = pd.read_csv('df_user_items_clean.csv', usecols=["user_id", "items_count", "items"])
    
    
#     if usuario not in df_user_items_clean['user_id'].unique():
#         return {'Error': 'No existe el usuario.'}

#     df_user_items_clean = df_user_items_clean[df_user_items_clean['user_id'] == usuario]
#     df_steam_games_clean = df_steam_games_clean[['id', 'price']]
#     df_user_reviews_clean = df_user_reviews_clean[df_user_reviews_clean['user_id'] == usuario]['recommend']

#     cant_items = df_user_items_clean['items_count'].iloc[0]
#     df_user_reviews_clean_positivas = df_user_reviews_clean.value_counts()[True]
#     porcentaje_de_df_user_reviews_clean = f'{(round((df_user_reviews_clean_positivas / df_user_reviews_clean.shape[0]) * 100, 2))}%'

#     df_user_items_clean = df_user_items_clean.explode("items")
#     df_user_items_clean = df_user_items_clean['items'].apply(pd.Series)
#     df_user_items_clean['item_id'] = df_user_items_clean['item_id'].astype(int)

#     df_steam_games_clean = df_steam_games_clean.merge(df_user_items_clean, left_on="id", right_on="item_id")
#     gasto_total = f"{round(df_steam_games_clean['price'].sum(), 2)} USD"

#     return {"Usuario": f"{usuario}", "Dinero gastado": gasto_total, "% de recomendación": f'{porcentaje_de_df_user_reviews_clean}', "cantidad de items": f'{cant_items}'}

In [ ]:
# m = user_data("js41637")
# m

In [3]:
#df_user_items_clean = pd.read_csv('df_user_items_clean.csv', usecols=["user_id", "items_count", "items"])

In [4]:
# m = df_user_items_clean.explode("items")
# m = df_user_items_clean["items"].apply(pd.Series)